.menu {
	color: inherit;
}

.close {
	height: 2em;
	color: var.$neutral;
}

.nav {
	position: relative;
	z-index: 10;
	margin-left: 10px;
	color: var.$neutral;

	ul {
		position: absolute;
		top: -10px;
		right: -10px;
		width: 90vw;
		max-width: 400px;
		max-height: 90vh;
		padding: 20px;
		text-align: center;

		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: #f5f5f5;
		}
	}

	ul,
	.close {
		display: none;
	}

	li {
		&:nth-child(2n) {
			--heading_underline: #{var.$pink};
		}
	}

	&[open] {

		ul,
		.close {
			display: block;
		}

		.menu {
			display: none;
		}
	}

	&[data-light] {
		color: var.$white;
	}
}

.item {
	@include mixins.underline;

	padding: 20px 10px;
	color: inherit;
	color: var.$neutral;
	font-family: var.$font_headings;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;

	&:after {
		bottom: 30%;
	}

	&:hover {
		&:after {
			content: normal;
		}
	}
}

.hamburger {
	position: relative;
	z-index: 5;
	border: none;
	background: none;
	color: inherit;
}

@media(min-width: 40em) {
	.nav {
		--button_shadow: #{var.$neutral};

		display: block;
		position: static;
		margin: 0;

		ul {
			display: flex;
			position: static;
			width: auto;
			max-width: unset;
			align-items: center;
			padding: 0;
			background: none;

			&:before {
				content: normal;
			}
		}

		&[data-light] {
			--button_shadow: #{var.$white};
		}
	}

	.hamburger {
		display: none;
	}

	.item {
		@include mixins.underline_animate;

		margin: 0 10px;
		padding: 0;
		color: inherit;
		font-size: 0.8em;

		&:after {
			content: '';
			bottom: 20%;
		}

		&:hover,
		&[class*='current'] {
			&:after {
				content: '';
			}
		}

		&[class*='current'] {
			&:after {
				transform: scaleX(1);
			}
		}
	}

	.cta {
		composes: button from '../../../../../lib/parts/forms/button/button.module.scss';

		--button_border: #{var.$yellow};
		--button_background: #{var.$yellow};
		--button_text: #{var.$black};

		display: block;

		line-height: 1;
		white-space: nowrap;
		color: var(--button_text);
		margin: 0 0 0 5px;

		&.item {
			padding: 10px;
			font-size: 1em;
		}
	}
}

@media(min-width: 50em) {
	.item {
		font-size: 0.9em;
	}
}

@media(min-width: 60em) {
	.item.cta {
		padding: 10px;
	}
}

@media(min-width: 80em) {
	.item {
		font-size: 1em;
	}
}


@media(min-width: 90em) {
	.item.cta {
		padding: 0.6em 0.7em 0.5em;
	}
}