@import 'variables.scss';

.contact-form {
    overflow: hidden;
}

iframe {
    border: none;
    height: 100vh - $height_header - $height_footer - 10vh;
    width: calc(100% + 20px);

    ::-webkit-scrollbar {
        display: none;
    }
}
