body {
  color: #5B5B5B;
  font: 400 1em "brandon-grotesque", Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.4;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  max-width: 100vw; }

h1, h2, h3 {
  color: #1C75BC;
  font: 700 1em "brandon-grotesque", Arial, sans-serif; }

h1 {
  font-size: 2em;
  text-align: center; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em; }

a {
  color: #1C75BC;
  font: 400 1em "brandon-grotesque", Arial, sans-serif;
  text-decoration: none; }
  a:active, a:hover, a:focus {
    color: #16A6B1; }

ul li {
  text-align: left; }

i {
  color: #D1D1D1; }
  i:hover, i:focus, i:active {
    color: #1C75BC; }

#main > .container {
  padding-top: 12vh; }

.container {
  max-width: 100vw; }
  .container .content {
    margin: 0 auto;
    padding: 20px 10px;
    width: 100%;
    max-width: 1400px; }

@media screen and (min-width: 640px) {
  #main > .container {
    padding-top: 20vh;
    padding-bottom: 15vh; } }
