@import 'variables.scss';

@mixin default-styles($top, $area) {
    $colour_main: $blue;
    $colour_second: $blue_light;

    color: $grey_dark;
    margin: 0;
    padding: 13px 13px 13px 33px;
    
    @if $top == true {
        margin-top: 0;
        margin-bottom: 0;
    }

    @if $area == title {
        cursor: pointer;
    }

    @if $area == content {

    }
}

@mixin active-styles($top, $area, $state) {
    $colour: $blue;

    @if $state == hover {
        $colour: $aqua;
    }

    @if $area == title {
        background: $colour;
        background: rgba($colour, 0.3);
        border: 3px solid $colour;
        color: $grey_dark;
        padding: 10px 10px 10px 30px;
    }

    @if $area == content {
        border: 3px solid $colour;
        border-top: none;
        display: block;
    }
    
    @if $state == hover {
        border-bottom: 3px solid $colour;
        color: $grey_dark; 
    }
    
    @if $top == true {
        border-top: 3px solid $colour;
        margin-top: 0;
    }
}

.section {

    .title {
        @include default-styles(false, title)

        &:active, &:hover, &:focus {
            @include active-styles(false, title, hover)
        }
    }

    .content {
        @include default-styles(false, content)
        display: none;
    }

    &:first-child {
        .title {
            @include default-styles(true, title)

            &:active, &:hover, &:focus {
                @include active-styles(true, title, hover)
            }
        }

        &.active {
            .title {
                @include active-styles(true, title, open);

                &:active, &:hover, &:focus {
                    @include active-styles(true, title, hover)
                }
            }
        }
    }
    &.active {
        .title {
            @include active-styles(false, title, open);

            &:active, &:hover, &:focus {
                @include active-styles(false, title, hover)
            }
        }

        .content {
            @include active-styles(false, content, open);
        }
    }
}