@import 'variables.scss';

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($blue_light, 0.2);

  &:hover {
    background-color: $blue_light;
  }
}

