* {
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(108, 167, 216, 0.2); }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #6CA7D8; }
