* {
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(50, 131, 195, 0.2); }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #3283c3; }
