@import 'variables.scss';

header {
    background: #fff;
    background: rgba(#fff, 0.5);
    height: $height_header;
    position: fixed;
      top: 0;
    width: 100%;
    z-index: 5;

    nav {
        float: right;
        position: absolute;
        right: 20px;    
        top: 4.5vh;

        .hamburger {
            position: absolute;
                right: 0;
        }
    
        &.active {
            ul {
                display: flex;
            }
        }
    
        ul {
            display: none;
                flex-direction: column;
                justify-content: center;
            list-style-type: none;
            position: relative;
                top: 4vh;
                right: -20px;
            width: 100vw;
                max-width: 400px;
            -webkit-padding-start: 0;
        }

        li {
            a {
                background: #fff;
                border-bottom: 2px solid $aqua;
                display: block;
                padding: 15px;
            }

            &:first-child {
                a {
                    border-top: 2px solid $aqua; 
                }
            }
        }
    }
      
    ul.menu {
        list-style-type: none;
        -webkit-padding-start: 0;
    }
}

body.scrolled {
    header {
        background: rgba(#fff, 0.9);
    }
}



.site-logo {
    display: flex;
      justify-content: center;
    float: left;
    height: $height_header;
    padding: 15px;
    width: 80%;

    div {
        height: 100%;
        max-width: 100%;
    }
  
    a {
        height: 100%;
        max-width: 100%;
  
        svg {
            height: auto;
                max-height: 100%;
            width: 95vw;
                max-width: 100%;
  
            .cls-1 {
                fill: $blue;
            }
            .cls-2 {
                fill: $aqua;
            }
        }
    }
}

@media screen and (min-width: 46rem) {
    header {
        height: $height_header_640;

        nav {
            position: relative;
            top: auto;
            right: auto;
            
            .hamburger {
                display: none;
            }
    
            ul {
                display: flex;
                flex-direction: row;
                -webkit-box-pack: center;
                justify-content: space-evenly;
                margin: 0;
                top: auto;
                right: auto;
                max-width: unset;
            }

            li {
                margin-left: 5px;

                a {
                    background: none;
                    border: none;
                    padding: 0;
                }

                &:first-child {
                    margin-left: 0;

                    a {
                        border-top: none;
                    }
                }
            }
        }
    }

    

    .site-logo {
        float: unset;
        height: calc(#{$height_header_640} - 2em);
        width: 100%;
    }
}