$height: 12vh;
$height_640: 20vh;
$blue: #1C75BC;
$aqua: #16A6B1;

header {
    background: #fff;
    background: rgba(#fff, 0.5);
    height: $height;
    position: fixed;
      top: 0;
    width: 100%;
    z-index: 5;
}

body.scrolled {
    header {
        background: rgba(#fff, 0.9);
    }
}

nav {
    float: right;
    position: relative;
    right: 20px;    
    top: 4.5vh;

    &.active {
        ul {
            display: flex;
        }
    }

    ul {
        display: none;
            flex-direction: column;
            justify-content: center;
        list-style-type: none;
        -webkit-padding-start: 0;
    }
}
  
ul.menu {
    list-style-type: none;
    -webkit-padding-start: 0;
}

.site-logo {
    display: flex;
      justify-content: center;
    float: left;
    height: $height;
    padding: 15px;
    width: 80%;

    div {
        height: 100%;
        max-width: 100%;
    }
  
    a {
        height: 100%;
        max-width: 100%;
  
        svg {
            height: auto;
                max-height: 100%;
            width: 95vw;
                max-width: 100%;
  
            .cls-1 {
                fill: $blue;
            }
            .cls-2 {
                fill: $aqua;
            }
        }
    }
}

@media screen and (min-width: 745px) {
    header {
        height: $height_640;
    }

    nav {
        top: auto;
        right: auto;
        
        .hamburger {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 0;
            width: 100vw;
        }
    }

    .site-logo {
        float: unset;
        height: calc(#{$height_640} - 2em);
    }
}