$height: 12vh;
$height_640: 20vh;
$blue: #1C75BC;
$aqua: #16A6B1;

header {
    background: #fff;
    background: rgba(#fff, 0.5);
    height: $height;
    position: absolute;
      top: 0;
    z-index: 5;
}

nav {
    display: flex;
        flex-direction: column;
        justify-content: center;

    ul {
        list-style-type: none;
        -webkit-padding-start: 0;
    }
}
  
ul.menu {
    list-style-type: none;
    -webkit-padding-start: 0;
}

.site-logo {
    display: flex;
      justify-content: center;
    height: $height;
    padding: 15px;
  
    a {
        height: 100%;
  
        svg {
            height: auto;
            max-height: 100%;
            width: 95vw;
  
            .cls-1 {
                fill: $blue;
            }
            .cls-2 {
                fill: $aqua;
            }
        }
    }
}

@media screen and (min-width: 640px) {
    header {
        height: $height_640;
    }

    .site-logo {
        height: $height_640;
    }
}