section.parallax {
    position: relative;
    width: 100vw;
  
    .bcg {
            background-attachment: fixed;
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
        display: flex;
            align-items: center;
            justify-content: center;
        position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        z-index: -1;
  
        &:after {
            background: rgba(#fff, 0.8);
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width:100%;
        }

        &.slide-1 {
            background-image: url('/img/parallax/unsplash.jpg');
        }

    }
  
    .container {
        background: #fff;
        position: relative;
            top: 100vh;
        text-align: center;
    }
}

@media screen and (min-width: 640px) {
    section.parallax {
        &.home {
            .bcg {
                &.slide-1 {
                    background-image: url('/img/parallax/unsplash.jpg');
                }
            }
        }
    }
}