//Variables
$blue: #1C75BC;

//Mixins
@keyframes pulse {
	0% { transform: scale(0.75); }
	50% { transform: scale(1); }
	100% { transform: scale(0.75); }
}

.container {
    padding-top: 0;
}

section.parallax {
    position: relative;
    width: 100vw;
  
    .bcg {
            background-attachment: fixed;
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
        display: flex;
            align-items: center;
            justify-content: center;
        position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        z-index: -1;
  
        &:after {
            background: rgba(#fff, 0.8);
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width:100%;
        }

        &.slide-1 {
            background-image: url('/img/parallax/unsplash.jpg');
        }

    }
  
    .container {
        margin: 90vh 0 15vh;
        position: relative;
        text-align: center;

        .scroll {
            height: 10vh;

            a {
                color: rgba($blue, 0.4);
                transition: color 1s ease;
            }

            svg {
                height: 100%;
                transform: scale(0.75);
                width: auto;
            }

            &:hover, &:focus {
                a {
                    color: $blue;
                }
            }
        }

        .content {
            background: #fff;            
        }
    }
}

body {
    &:hover, &:focus {
        section.parallax {
            .container {
                .scroll {
                    svg {
                        -webkit-animation: pulse 3s infinite;
                        animation: pulse 3s infinite;
                    }
                }
            }
        }
    }
}

#root.scrolled {
    .scroll {
        visibility: hidden;
    }
}

@media screen and (min-width: 640px) {
    .container {
        padding-top: 0;
    }

    section.parallax {
        .bcg {
            &.slide-1 {
                background-image: url('/img/parallax/unsplash.jpg');
            }
        }
    }
}