@keyframes pulse {
  0% {
    transform: scale(0.75); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.75); } }

section.parallax {
  position: relative;
  width: 100vw; }
  section.parallax .bcg {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; }
    section.parallax .bcg:after {
      background: rgba(255, 255, 255, 0.8);
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
    section.parallax .bcg.slide-1 {
      background-image: url("/img/parallax/unsplash.jpg"); }
  section.parallax .container {
    margin: 90vh 0 15vh;
    position: relative;
    text-align: center; }
    section.parallax .container .scroll {
      height: 10vh; }
      section.parallax .container .scroll a {
        color: rgba(28, 117, 188, 0.4);
        transition: color 1s ease; }
      section.parallax .container .scroll svg {
        height: 100%;
        transform: scale(0.75);
        width: auto; }
      section.parallax .container .scroll:hover a, section.parallax .container .scroll:focus a {
        color: #1C75BC; }
    section.parallax .container .content {
      background: #fff; }

body:hover section.parallax .container .scroll svg, body:focus section.parallax .container .scroll svg {
  -webkit-animation: pulse 3s infinite;
  animation: pulse 3s infinite; }

@media screen and (min-width: 640px) {
  section.parallax.home .bcg.slide-1 {
    background-image: url("/img/parallax/unsplash.jpg"); } }
