section.parallax {
    position: relative;
    width: 100vw;
  
    .bcg {
            background-attachment: fixed;
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
        display: flex;
            align-items: center;
            justify-content: center;
        height: 100vh;
        position: relative;
        z-index: -1;
  
        &:after {
            background: rgba(#fff, 0.8);
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width:100%;
        }
  
        h2 {
            font-size: 3em;
            padding: 20px;
            z-index: 5;
        }
    }
  
    .container {
        background: #fff;
        text-align: center;
    }
  
    &.home {
  
        .bcg {
            &.slide-1 {
            background-image: url('/img/parallax/unsplash.jpg');
            }
    
            &.slide-2 {
            background-image: url('/img/parallax/home-nadinesmith-400.png');
            }
    
            &.slide-3 {
            background-image: url('/img/parallax/home-treasurepics-400.png');
            }
    
            &.slide-4 {
            background-image: url('/img/parallax/home-ecospray-320.png');
            }
    
            &.slide-5 {
            background-image: url('/img/parallax/unsplash.jpg');
            }
        }
  
        .container {
            &.faq {
            text-align: left;
            }
        }
    }
}

@media screen and (min-width: 640px) {
    section.parallax {
        &.home {
            .bcg {
                &.slide-1 {
                    background-image: url('/img/parallax/unsplash.jpg');
                }
    
                &.slide-2 {
                    background-image: url('/img/parallax/home-nadinesmith-600.png');
                }
    
                &.slide-4 {
                    background-image: url('/img/parallax/home-ecospray-640.png');
                }
    
                &.slide-5 {
                    background-image: url('/img/parallax/unsplash.jpg');
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    section.parallax {  
        &.home {
            .bcg {      
                &.slide-2 {
                    background-image: url('/img/parallax/home-nadinesmith.png');
                }
      
                &.slide-3 {
                    background-image: url('/img/parallax/home-treasurepics.png');
                }
      
                &.slide-4 {
                    background-image: url('/img/parallax/home-ecospray-800.png');
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    section.parallax {
        &.home {
            .bcg {
                &.slide-4 {
                    background-image: url('/img/parallax/home-ecospray.png');
                }
            }
        }
    }
}