.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px; }
  .products .product {
    background: #e8f1f8;
    background: rgba(198, 220, 238, 0.5);
    border: 1px solid #1c75bc;
    border-radius: 20px;
    margin: 0 10px 30px;
    padding: 15px;
    text-align: center;
    width: 80vw;
    max-width: 300px; }
    .products .product .name {
      font-size: 25px;
      margin: 0 0 5px; }
    .products .product .image-container {
      border-radius: 20px;
      overflow: hidden;
      max-width: 100%; }
      .products .product .image-container img {
        max-width: 100%; }
    .products .product .price {
      margin: 5px 0 0;
      font-size: 17px;
      text-align: right; }
    .products .product .description {
      font-size: 15px;
      margin: 5px 0 0;
      text-align: justify; }
