@import 'variables.scss';

.products {
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    margin-top: 50px;

    .product {
        background: $blue_light;
        background: rgba($blue_light, 0.3);
        border: 1px solid $blue;
        border-radius: 20px;
        margin: 0 10px 30px;
        padding: 15px;
        text-align: center;
        width: 80vw;
            max-width: 300px;

        .name {
            font-size: 25px;
            margin: 0 0 5px;
        }

        .image-container {
            border-radius: 20px;
            overflow: hidden;
            max-width: 100%;

            img {
                max-width: 100%;
            }
        }

        .price {
            margin: 5px 0 0;
            font-size: 17px;
            text-align: right;
        }

        .description {
            font-size: 15px;
            margin: 5px 0 0;
            text-align: justify;
        }
    }
}