@import 'variables.scss';

.colour {
    &.set {
        padding: 20px 0;
    }

    &.swatch {
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
            align-items: center;
            justify-content: center;
        height: 8vw;
        width: 8vw;
        margin-right: 4vw;
        position: relative;

        &.light {
            color: #000;
        }

        &.dark {
            color: #fff;
        }

        p {
            font-size: 1.8vw;
        }
    }
    
    &.main {
        float: left;
        height: 25vw;
        width: 25vw;

        p {
            font-size: 3.5vw;
        }
    }

    &.group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2vw 0;
    }
}