@import 'variables.scss';

.colour {
    &.swatch {
        border: 1px solid black;
        border-radius: 10px;
        height: 10vw;
        width: 10vw;
    }
    
    &.main {
        float: left;
        height: 30vw;
        width: 30vw;
        margin-right: 5vw;
    }

    &.group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5vw;
    }
}