{
    "presets": [
        "env", 
        "react"
    ],
    "plugins": [
		[
            "emotion", 
                { 
                    "autoLabel": true,
                    "hoist": true,
                    "sourceMap": true 
                }
        ]
	]
}