@import '../variables.scss';

.article-feed {
    display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px 15px;
}

.feed-article {
    background: rgba($neutral_light, 0.3);
    border-radius: 10px;
    display: block;
    padding: 20px 20px 40px;
    position: relative;

    h2, h5, h6 {
        margin: 0;
    }

    &:active, &:hover, &:focus {
        background: $primary_light;
        background: rgba($primary_light, 0.3);

        .image-feature {
            opacity: 1;
        }
    }
}

.image-feature {
    display: flex;
        justify-content: center;
        align-items: center;
    height: 15vh * 2;
        max-height: 300px;
    margin-bottom: 10px;
    overflow: hidden;
    opacity: 0.4;
    text-align: center;

    img {
        height: 100%;
            max-height: 100%;
        width: auto;
            max-width: unset;
    }
}

.article-title {
    font-size: 1.1em;
    padding-right: 50px;
    
    a {
        text-decoration: none;
    }
}

h6.date {
    font-size: 12px;
    margin: 10px 0;
}

.excerpt {
    font-size: 0.8em;
}

.share-icons {
    font-size: 30px;
    margin-top: -30px;
    position: absolute;
        bottom: 10px;
        right: 20px;

    .share-link {
        padding: 5px;
    }
}