@import '../variables.scss';

    // Mockups
        $width_desk: 300px; //Change this to change the size of the image
        $width_tab: 200px; //Change this to change the size of the image
        $width_mob: 75px; //Change this to change the size of the image

        // Desktop
            $width_desk_full: 852.7;
            $height_desk_full: 492;
            $width_desk_img_full: 650;
            $height_desk_img_full: 404;
            $ratio_desk: $height_desk_full / $width_desk_full;
            $ratio_desk_img: $height_desk_img_full / $width_desk_img_full;
            $ratio_desk_diff: $width_desk_img_full / $width_desk_full;

            //Size on page
                $width_desk_img: $width_desk * $ratio_desk_diff;
                $height_desk: $width_desk * $ratio_desk;

            //Image Position
                $top_desk_full: 30.5;
                $left_desk_full: 101.4;
                $top_desk: $top_desk_full / $height_desk_full * $width_desk * $ratio_desk;
                $left_desk: $left_desk_full / $width_desk_full * $width_desk;

        // Tablet
            $width_tab_full: 778;
            $height_tab_full: 490;
            $width_tab_img_full: 672;
            $height_tab_img_full: 380;
            $ratio_tab: $height_tab_full / $width_tab_full;
            $ratio_tab_img: $height_tab_img_full / $width_tab_img_full;
            $ratio_tab_diff: $width_tab_img_full / $width_tab_full;

            //Size on page
                $width_tab_img: $width_tab * $ratio_tab_diff;
                $height_tab: $width_tab * $ratio_tab;

            //Image Position
                $top_tab_full: 63;
                $left_tab_full: 53;
                $top_tab: $top_tab_full / $height_tab_full * $width_tab * $ratio_tab;
                $left_tab: $left_tab_full / $width_tab_full * $width_tab;

        // Mobile
            $width_mob_full: 200;
            $height_mob_full: 390.7;
            $width_mob_img_full: 176.5;
            $height_mob_img_full: 311.8;
            $ratio_mob: $height_mob_full / $width_mob_full;
            $ratio_mob_img: $height_mob_img_full / $width_mob_img_full;
            $ratio_mob_diff: $width_mob_img_full / $width_mob_full;

            //Size on page
                $width_mob_img: $width_mob * $ratio_mob_diff;
                $height_mob: $width_mob * $ratio_mob;

            //Image Position
                $top_mob_full: 34.1;
                $left_mob_full: 12.1;
                $top_mob: $top_mob_full / $height_mob_full * $width_mob * $ratio_mob;
                $left_mob: $left_mob_full / $width_mob_full * $width_mob;

.portfolio {
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    &.content {
        max-width: 1600px;
    }
}

.site {
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 10px;
    position: relative;
    width: $width_desk + $width_tab;

    .mockups {
        position: relative;

        .image-container {
            border-style: none;
            height: var(--height-container);
            position: absolute;
            width: var(--width-container);
            z-index: var(--index-frame);

            .frame {
                position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                z-index: 10;
            }

            img, svg.placeholder {
                height: var(--height-image);
                position: absolute;
                    top: var(--offset-top);
                    left: var(--offset-left);
                width: var(--width-image);
                z-index: var(--index-image);
            }

            svg.placeholder {
                max-height: unset;
                min-width: unset;
                max-width: unset;
            }

            &.desktop {
                --height-container: $height_desk;
                --width-container: $width_desk;
                --height-image: $width_desk_img * $ratio_desk_img;
                --width-image: $width_desk_img;
                --offset-top: $top_desk;
                --offset-left: $left_desk;
                --index-frame: 6;
                --index-image: 5;
                position: relative;
            }

            &.tablet {
                --height-container: $height_tab;
                --width-container: $width_tab;
                --height-image: $width_tab_img * $ratio_tab_img;
                --width-image: $width_tab_img;
                --offset-top: $top_tab;
                --offset-left: $left_tab;
                --index-frame: 8;
                --index-image: 7;
                right: 30px;
                bottom: 0;
            }

            &.mobile {
                --height-container: $height_mob;
                --width-container: $width_mob;
                --height-image: $width_mob_img * $ratio_mob_img;
                --width-image: $width_mob_img;
                --offset-top: $top_mob;
                --offset-left: $left_mob;
                --index-frame: 10;
                --index-image: 9;
                bottom: 0;
                right: 0;
            }
        }
    }

    .name {
        font-size: 1.3em;
    }

    .url, .date, .repo {
        font-size: 1rem;
        font-weight: normal;
    }

    .url {
        &:active, &:hover, &:focus {
            color: $aqua;
        }

        svg {
            height: 20px;
            margin-bottom: -3px;
            width: 20px;
        }
    }

    .date {
        float: right;
    }

    .repo {
        position: absolute;
        bottom: 20px;
    }
}

@media screen and (min-width: 31rem) {
    .site {    
        background: $blue_10;
        margin: 0 20px 40px;
    }
}

@media screen and (min-width: 46rem) {
    .site {    
        margin: 0 0 40px;
        padding: 20px;
        // width: $width_desk + 40px;
    }
}