.content {
	--heading_underline: #{var.$pink};

	position: relative;
	margin-bottom: 700px;
	padding: 20px;
	color: var.$white;
}

.header {
	top: 0;
	left: 0;
	width: auto;
	height: 5100px;
	transform: translateX(-50%);
	composes: banner from '../../components/partials/header/header.module.scss';
}

.blocks {
	width: 300px;
	margin-bottom: 50px;
}

.blurb {
	text-align: left;

	a {
		color: var.$yellow;
		font-style: italic;
		font-weight: bold;
		text-decoration: none;

		&:hover {
			display: inline;
			text-decoration: underline;

			&:after {
				content: normal;
			}
		}
	}
}

.services {
	margin: 0;
	padding: 0;
	list-style: none;
}

.squiggle {
	position: absolute;
	top: 50px;
	right: -170px;
	width: 200px;
	color: var.$pink;
}

.leaf {
	position: absolute;
	z-index: -1;
	top: 1000px;
	left: -100px;
	width: 200px;
	transform: rotate(155deg);
	color: var.$purple;
}

.leaf_thin {
	position: absolute;
	bottom: -653px;
	left: -50px;
	width: 200px;
	transform: rotate(40deg);
	color: var.$pink;
	mix-blend-mode: multiply;
}

.flower {
	position: absolute;
	right: -100px;
	bottom: -370px;
	width: 200px;
	transform: rotate(110deg) scaleX(-1);
	color: var.$purple;
	mix-blend-mode: multiply;
}

@media(min-width: 40em) {
	.header {
		height: 3500px;
	}

	.squiggle {
		top: -70px;
		right: -100px;
	}

	.leaf {
		top: 500px;
	}

	.leaf_thin {
		bottom: -1000px;
		left: 0;
	}

	.flower {
		right: 0;
		bottom: -550px;
	}

	.content {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-bottom: 1000px;

		h1 {
			flex-grow: 0;
			width: auto;
		}
	}

	.blocks {
		position: absolute;
		top: 20px;
		left: 20px;
		order: -2;
		width: 300px;
	}

	.blurb {
		order: -1;

		&:before {
			content: '';
			display: block;
			width: 340px;
			height: 300px;
			float: left;
			shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
		}
	}

	.services {
		display: flex;
		flex-wrap: wrap;
		order: 2;
		margin: 0 -10px;
	}
}

@media(min-width: 50em) {
	.header {
		height: 3250px;
	}

	.content {
		margin-bottom: 900px;
		padding: 0 50px;
	}

	.blocks {
		top: 20px;
		left: 40px;
		width: 350px;
	}

	.blurb {
		&:before {
			width: 360px;
			height: 360px;
		}
	}

	.squiggle {
		top: -120px;
		right: -50px;
	}

	.leaf {
		top: 400px;
	}

	.leaf_thin {
		bottom: -986px;
		left: 0;
	}

	.flower {
		right: 0;
		bottom: -725px;
	}
}

@media(min-width: 60em) {
	.header {
		height: 4100px;
	}

	.content {
		width: 90vw;
		max-width: 1200px;
		margin: 0 auto 1100px;
		padding: 0;
	}

	.blocks {
		top: 20px;
		left: -20px;
		width: 450px;
	}

	.squiggle {
		top: -200px;
		right: -260px;
		width: 400px;
		transform: rotate(12deg);
	}

	.leaf {
		top: 550px;
	}

	.leaf_thin {
		bottom: -1170px;
		left: 0;
		width: 400px;
	}

	.flower {
		right: 0;
		bottom: -725px;
		width: 340px;
	}

	.blurb {
		&:before {
			width: 470px;
			height: 500px;
		}
	}

	.services {
		justify-content: space-evenly;
	}
}

@media(min-width: 70em) {
	.header {
		height: 3600px;
	}

	.content {
		margin-bottom: 600px;
	}

	.blocks {
		top: 20px;
		left: -20px;
		width: 450px;
	}

	.leaf {
		top: 400px;
		left: -150px;
		width: 250px;
	}

	.leaf_thin {
		bottom: -725px;
	}

	.flower {
		bottom: -500px;
	}

	.blurb {
		&:before {
			width: 470px;
			height: 500px;
		}
	}
}

@media(min-width: 80em) {
	.header {
		height: 3400px;
	}

	.content {
		margin-bottom: 500px;
	}

	.blocks {
		left: 0;
		width: 500px;
	}

	.leaf {
		left: -250px;
	}

	.leaf_thin {
		bottom: -620px;
	}

	.flower {
		bottom: -340px;
	}

	.blurb {
		&:before {
			width: 550px;
		}
	}
}

@media(min-width: 90em) {
	.header {
		height: 4100px;
	}

	.content {
		margin-bottom: 700px;
	}

	.leaf_thin {
		bottom: -800px;
		left: -350px;
	}

	.flower {
		bottom: -340px;
	}
}
