.header {
	composes: banner from '../components/partials/header/header.module.scss';
	top: 0;
	left: -400px;
	width: 1500px;
}

.content {
	font-family: var.$font_headings;
	font-size: 1.2em;
	font-weight: 500;
	line-height: 1.5;
}

.cta {
	--button_border: #{var.$pink};
	--button_background: #{var.$pink};
	--button_text: #{var.$black};
	composes: button from '../../lib/parts/forms/button/button.module.scss';
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;

	&:hover {
		&:after {
			content: normal;
		}
	}
}

.buttons {
	list-style: none;
	margin: -20px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;

	font-size: 0.8em;

	li {
		margin: 20px;
		padding: 0;


		&:nth-child(2n) {
			.cta {
				--button_border: #{var.$yellow};
				--button_background: #{var.$yellow};
				--button_text: #{var.$black};
			}
		}
	}
}

.homeBanner {

	padding: 0 20px;
	color: var.$white;
	text-align: left;

	blockquote {
		max-width: 450px;
		margin: 0;
		padding: 0;
	}

	h1 {
		margin-top: 0;
		padding-right: 0;
		color: var.$white;
		font-size: 1.8em;
		text-transform: uppercase;

		&:after {
			content: normal;
		}

		mark {
			@include mixins.underline;
			display: inline-block;
			width: auto;
			background: none;
			color: inherit;

			&:after {
				right: -1.5em;
				bottom: -10%;
			}
		}
	}

	.content {
		max-width: 350px;
	}
}

.bannerGraphic {
	display: block;
	max-width: 350px;
	margin: 30px auto 0;
}

.section {
	position: relative;
	max-width: 400px;
	margin: 80px auto 0;
	padding: 0 20px;
	text-align: right;

	.buttons {
		margin: 0 -10px;
		font-size: 0.7em;
		padding-bottom: 20px;
		justify-content: flex-end;

		li {
			margin: 10px;

			&:nth-child(2n) {
				.cta {
					--button_border: #{var.$secondary};
					--button_background: #{var.$secondary};
					--button_text: #{var.$black};
				}
			}
		}

		.cta {
			--button_border: #{var.$purple};
			--button_background: #{var.$purple};
			--button_text: #{var.$white};
		}
	}

	&:nth-child(2n) {
		text-align: left;

		.buttons {
			justify-content: flex-start;

			li {
				&:nth-child(2n) {
					.cta {
						--button_border: #{var.$pink};
						--button_background: #{var.$pink};
						--button_text: #{var.$black};
					}
				}
			}
		}

		.cta {
			--button_border: #{var.$yellow};
			--button_background: #{var.$yellow};
			--button_text: #{var.$black};
		}
	}
}

.squiggle {
	position: absolute;
	top: -120px;
	right: -100px;
	width: 200px;
	color: var.$pink;
}

.heart {
	position: absolute;
	z-index: 10;
	bottom: -10px;
	left: 0;
	width: 100px;
	color: var.$yellow;
	mix-blend-mode: multiply;
}

.leaf {
	position: absolute;
	z-index: 10;
	bottom: -50px;
	left: 0;
	width: 100px;
	color: var.$purple;
	mix-blend-mode: multiply;
}

.graphic {
	display: block;
	position: relative;
	z-index: 10;
	max-width: 350px;
	margin: 0 auto;
}



@media(min-width: 40em) {
	.header {
		top: 0;
		left: -500px;
		width: 1600px;
	}

	.homeBanner {
		display: flex;
		align-items: flex-end;
		margin: 50px 0 100px;

		blockquote {
			flex: 1 0 300px;
			padding-bottom: 20px;
		}

		.content {
			width: 80%;
		}
	}

	.bannerGraphic {
		flex: 1 1 250px;
		margin: 0;
	}

	.graphic {
		width: 300px;
		margin: 0 0 0 20px;
	}

	.section {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		max-width: unset;

		.buttons {
			margin-top: -10px;
			font-size: 0.6em;
			padding: 0;

			.cta {
				z-index: 5;
			}
		}

		&:nth-child(2n) {
			.graphic {
				order: -1;
				margin: 0 20px 0 0;
			}
		}

		.content {
			max-width: 300px;
		}

		&:last-child {
			color: var.$white;

			.content {
				align-self: flex-end;
			}
		}
	}


}

@media(min-width: 50em) {
	.header {
		left: -600px;
		width: 1800px;
	}

	.homeBanner {
		margin: 20px 0 100px;
		padding: 0 50px;

		blockquote {
			flex: 0 0 auto;
			width: 350px;
		}
	}

	.bannerGraphic {
		flex: 1 0 auto;
		width: 400px;
		max-width: 450px;
		margin-left: -50px;
	}

	.section {
		padding: 0 50px;

		.content {
			max-width: 350px;
		}
	}

	.graphic {
		width: 350px;
	}

	.leaf {
		bottom: 50px;
		left: -50px;
	}


}

@media(min-width: 60em) {
	.header {
		left: -850px;
		width: 2500px;
	}

	.homeBanner {
		width: 90vw;
		max-width: 1200px;
		margin: 80px auto 200px;
		padding: 0;

		blockquote {
			width: 400px;
			padding-bottom: 100px;
		}
	}

	.bannerGraphic {
		max-width: 500px;
		margin-left: 0;
	}

	.leaf {
		bottom: -100px;
		left: 100px;
		width: 150px;
	}

	.graphic {
		width: 350px;
		margin: 0;
	}

	.section {
		width: 90vw;
		max-width: 1200px;
		margin: 50px auto;
		padding: 0;

		&:before {
			content: '';
			display: block;
			flex: 1 0 100px;
			order: -1;
			max-width: 150px;
			margin: 0 20px;
			border-bottom: 2px dotted var.$secondary;
		}

		.content {
			order: -2;
			max-width: 350px;
		}

		&:nth-child(2n) {
			.graphic {
				order: -2;
				margin: 0;
			}

			.content {
				order: unset;
			}
		}

		&:last-child {
			margin-top: 100px;
		}
	}


}

@media(min-width: 70em) {
	.homeBanner {
		margin: 0 auto 200px;

		blockquote {
			width: 450px;
		}
	}

	.bannerGraphic {
		max-width: 600px;
	}

	.leaf {
		bottom: -80px;
		left: 200px;
	}

	.section {
		&:last-child {
			margin-bottom: -80px;
		}
	}


}

@media(min-width: 80em) {
	.homeBanner {
		blockquote {
			width: 500px;
			max-width: unset;
		}
	}

	.bannerGraphic {
		max-width: 800px;
	}

	.leaf {
		bottom: -120px;
		left: 250px;
		width: 200px;
	}

	.section {
		margin: 100px auto;

		&:before {
			max-width: 170px;
		}

		&:last-child {
			margin-bottom: 0;

			.content {
				align-self: center;
			}
		}

		.content {
			max-width: 400px;
		}
	}

	.graphic {
		width: 500px;
		max-width: unset;
	}


}

@media(min-width: 90em) {
	.header {
		top: -50px;
		left: -1000px;
		width: 3000px;
	}

	.homeBanner {
		margin: 50px auto 200px;

		blockquote {
			align-self: flex-start;
			width: 600px;
			padding-bottom: 0;
		}
	}

	.bannerGraphic {
		position: relative;
		left: -100px;
		width: 800px;
		max-width: unset;
	}

	.leaf {
		bottom: -170px;
		left: 220px;
	}

	.section {
		.content {
			max-width: 430px;
		}
	}
}