.content {
	position: relative;
	padding: 20px;
}

.squiggle {
	position: absolute;
	top: -80px;
	right: -100px;
	width: 200px;
	color: var.$purple;
}

@media(min-width: 50em) {
	.content {
		padding: 0 50px;
	}

	.squiggle {
		top: -130px;
		right: -80px;
		width: 250px;
		transform: rotate(10deg);
	}
}

@media(min-width: 60em) {
	.content {
		width: 90vw;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0;
	}

	.squiggle {
		top: -150px;
		right: -100px;
		width: 300px;
	}
}

@media(min-width: 70em) {
	.content {
		padding-top: 100px;
	}
}

@media(min-width: 80em) {
	.squiggle {
		top: -200px;
		right: calc(-100px + (600px - 50vw));
		width: 400px;
	}
}
