.content {
	position: relative;
	padding: 20px;
}

.blurb {
	margin-bottom: 20px;
}

.squiggle {
	position: absolute;
	top: -80px;
	right: -100px;
	width: 200px;
	color: var.$purple;
}

.flower {
	position: absolute;
	z-index: -1;
	bottom: -50px;
	left: -50px;
	width: 100px;
	color: var.$pink;
	mix-blend-mode: multiply;
}

.paw {
	position: absolute;
	z-index: 5;
	right: -0;
	bottom: -120px;
	width: 100px;
	color: var.$yellow;
	mix-blend-mode: multiply;
}

@media(min-width: 40em) {
	.paw {
		bottom: -60px;
	}
}

@media(min-width: 50em) {
	.content {
		padding: 0 50px;
	}

	.squiggle {
		top: -130px;
		right: -80px;
		width: 250px;
		transform: rotate(10deg);
	}

	.flower {
		z-index: 5;
		bottom: -100px;
		left: -60px;
	}

	.paw {
		bottom: -120px;
	}
}

@media(min-width: 60em) {
	.content {
		width: 90vw;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 0 50px;
	}

	.blurb {
		width: 60%;
		margin: 0 20px 50px auto;
	}

	.squiggle {
		top: -150px;
		right: -100px;
		width: 300px;
	}

	.paw {
		right: -20px;
		width: 150px;
	}

	.flower {
		z-index: -1;
		bottom: -120px;
		left: -150px;
		width: 200px;
	}
}

@media(min-width: 70em) {
	.content {
		padding: 100px 0;
	}

	.paw {
		right: -50px;
	}

	.flower {
		z-index: 5;
		left: -100px;
	}
}

@media(min-width: 80em) {
	.squiggle {
		top: -200px;
		right: calc(-100px + (600px - 50vw));
		width: 400px;
	}
}

@media(min-width: 90em) {
	.paw {
		bottom: -140px;
	}
}
