.pageContent {
	position: relative;
	padding: 20px;

	img {
		max-width: 100%;
		max-height: 50vh;
		display: block;
	}

	figure  {
		max-width: 100%;
		max-height: 50vh;
		display: block;
		overflow: hidden;

		img {
			height: auto;
			width: auto;
			max-height: 100%;
			max-width: 100%;
			object-fit: contain;
			object-position: center;
		}
	}

	blockquote {	
		display: inline-block;
		position: relative;
		width: 90%;
		max-width: max-content;
		margin: 20px 0 50px;
		padding: 40px 40px 40px 0;
		color: var.$neutral;
		font-size: 1.3em;
		font-weight: 500;
		font-family: var.$font_headings;
	
		&:before, &:after {
			content: '';
			position: absolute;
			z-index: -1;
			width: 100vw;
		}
	
		&:before {
			left: auto;
			background: var.$primary;
			mix-blend-mode: multiply;
			top: 30px;
			right: -30px;
			bottom: -30px;
		}
	
		&:after {
			top: 0;
			right: 0;
			bottom: 0;
			border: 1.5px solid var.$primary;
			background: var.$white;
		}
	}
	
}

@supports(grid-template-areas: '.') {
	.pageContent {
		figure {
			display: grid;
			grid-template-rows: 1fr auto;

			img {
				margin: 0 auto;
			}
		}
	}
}

.post {
	margin-bottom: 50px;
	text-align: left;

	h2, h3, h4 {
		clear: both;
	}
}

.featuredImage {
	display: block;
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
	border: 5px solid var.$purple;
}

.squiggle {
	position: absolute;
	top: -80px;
	right: -100px;
	width: 200px;
	color: var.$purple;
}

.flower {
	position: absolute;
	z-index: -1;
	bottom: -50px;
	left: -50px;
	width: 100px;
	color: var.$pink;
	mix-blend-mode: multiply;
}

.paw {
	position: absolute;
	z-index: 5;
	right: -0;
	bottom: -120px;
	width: 100px;
	color: var.$yellow;
	mix-blend-mode: multiply;
}

.authorHead {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: var.$neutral;
	font-weight: 600;

	a {
		color: inherit;
		text-decoration: none;
	}

	img {
		margin-left: 10px;
		overflow: hidden;
		border-radius: 50%;
		object-fit: cover;
		width: 40px;
		height: 40px;
	}
}

.dateHead {
	font-size: 0.9em;
	color: var.$grey;
}

@media(min-width: 40em) {
	.paw {
		bottom: -60px;
	}

	.pageContent {
		h1 {
			font-size: 3em;
		}
	}

	.featuredImage {
		width: 50%;
		margin: 0 10px 0 0;
		float: left;
	}

	.header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		h1 {
			margin-left: auto;
		}
	}

	.dateHead {
		text-align: left;
		width: 50%;
	}

	.authorHead {
		width: 50%;

		img {
			height: 60px;
			width: 60px;
		}
	}
}

@media(min-width: 50em) {
	.pageContent {
		padding: 0 50px;

		figure {
			max-width: 800px;
		}
	}

	.squiggle {
		top: -130px;
		right: -80px;
		width: 250px;
		transform: rotate(10deg);
	}

	.flower {
		z-index: 5;
		bottom: -100px;
		left: -60px;
	}

	.paw {
		bottom: -120px;
	}
}

@media(min-width: 60em) {
	.pageContent {
		width: 90vw;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 0 50px;

		blockquote {
			margin-top: 50px;
			margin-bottom: 80px;
			padding-right: 70px;
			font-weight: 600;
		
			@media(min-width: 70em) {
				margin-top: 60px;
				margin-bottom: 100px;
			}
		}
	}

	.featuredImage {
		max-width: 450px;
		margin: 0 20px 0 -40px;
	}

	.squiggle {
		top: -150px;
		right: -100px;
		width: 300px;
	}

	.paw {
		right: -20px;
		width: 150px;
	}

	.flower {
		z-index: -1;
		bottom: -120px;
		left: -150px;
		width: 200px;
	}
}

@media(min-width: 70em) {
	.pageContent {
		padding: 100px 0;

		blockquote {
			margin-top: 60px;
				margin-bottom: 100px;
		}
	}

	.paw {
		right: -50px;
	}

	.flower {
		z-index: 5;
		left: -100px;
	}

	.authorHead {
		img {
			height: 100px;
			width: 100px;
		}
	}
}

@media(min-width: 80em) {
	.squiggle {
		top: -200px;
		right: calc(-100px + (600px - 50vw));
		width: 400px;
	}

	.featuredImage {
		max-width: 550px;
		margin: 0 30px 0 -60px;
	}

	
}

@media(min-width: 90em) {
	.paw {
		bottom: -140px;
	}

	.form {
		max-width: 900px;
	}
}
