@import url('https://fonts.googleapis.com/css?family=Sura:400,700');

$green:#005b52;
    $green_light_10:#e6efee;
    $green_light_25:#bfd6d4;
    $green_light_50:#80ada9;
    $green_light_75:#40847d;
    $green_light_90:#196b63;
    
    $green_dark_10:#000908;
    $green_dark_25:#001715;
    $green_dark_50:#002e29;
    $green_dark_75:#00443e;
    $green_dark_90:#00524a;

$lime:#00ff00;
    $lime_light_10:#e6ffe6;
    $lime_light_25:#bfffbf;
    $lime_light_50:#80ff80;
    $lime_light_75:#40ff40;
    $lime_light_90:#19ff19;

    $lime_dark_10:#001a00;
    $lime_dark_25:#004000;
    $lime_dark_50:#008000;
    $lime_dark_75:#00bf00;
    $lime_dark_90:#00e600;

$black:#000000;
    $black_light_10:#e6e6e6;
    $black_light_25:#bfbfbf;
    $black_light_50:#808080;
    $black_light_75:#404040;
    $black_light_90:#191919;