$navy:#000060;
    $navy_light_10:#e6e6ef;
    $navy_light_25:#bfbfd7;
    $navy_light_50:#8080b0;
    $navy_light_75:#404088;
    $navy_light_90:#191970;

    $navy_dark_10:#00000a;
    $navy_dark_25:#000018;
    $navy_dark_50:#000030;
    $navy_dark_75:#000048;
    $navy_dark_90:#000056;

$black:#000000;
    $black_10:#e6e6e6;
    $black_25:#bfbfbf;
    $black_50:#808080;
    $black_75:#404040;
    $black_90:#191919;

$white:#ffffff;
    $white_10:#1a1a1a;
    $white_25:#404040;
    $white_50:#808080;
    $white_75:#bfbfbf;
    $white_90:#e6e6e6