$navy:#000080;
    $navy_light_10:#e6e6f2;
    $navy_light_25:#bfbfdf;
    $navy_light_50:#8080c0;
    $navy_light_75:#4040a0;
    $navy_light_90:#19198d;

    $navy_dark_10:#00000d;
    $navy_dark_25:#000020;
    $navy_dark_50:#000040;
    $navy_dark_75:#000060;
    $navy_dark_90:#000073;

$black:#000000;
    $black_10:#e6e6e6;
    $black_25:#bfbfbf;
    $black_50:#808080;
    $black_75:#404040;
    $black_90:#191919;

$white:#ffffff;
    $white_10:#1a1a1a;
    $white_25:#404040;
    $white_50:#808080;
    $white_75:#bfbfbf;
    $white_90:#e6e6e6