@import 'variables.scss';

body {
    color: $neutral;
    font: $font_regular;
      font-size: 1.2em;
      line-height: 1.4;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    position: absolute;
    text-decoration-skip: ink;
    width: 100%;
      max-width: 100vw;
}

h1, h2, h3 {
    color: $primary;
    font: $font_headings;
}
  
h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.6em;
}
  
h3 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
    line-height: 1.2;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}
  
a {
    color: $primary;
    font: inherit;

    &:active, &:hover, &:focus {
        color: $secondary;
    }
}
  
ul {
    li {
        font-size: 1.2em;
        padding: 5px 0;
        text-align: left;
    }
}
  
i {
    color: $neutral_light;

    &:hover, &:focus, &:active {
        color: $primary;
    }
}

hr {
    border: none;

    &:before {
        content: '\00B7    \00B7    \00B7    \00B7    \00B7';
        display: block;
        text-align: center;
    }
}

blockquote {
    border-left: 5px solid $primary;
    font: $font_headings;
        font-size: 1.2em;
        font-weight: normal;
    padding: 10px 20px;
}

figure {
    figcaption {
        border-left: 5px solid $primary;
        font: $font_headings;
        font-size: 0.8em;
        font-weight: normal;
        padding: 10px 0 10px 10px;
    }
}

.code {
    margin: 0 auto;
    padding: 5px 20px;
    max-width: 900px;
}

pre {
    background: rgba($primary, 0.2);
    border-radius: 20px;
    line-height: 1.3em;
    overflow: hidden;
    padding: 20px;
    white-space: pre-wrap;
}

.content {
    margin: 0 auto;
    width: 90vw;
        max-width: 1200px;
}