$font_regular: 400 1em 'Anonymous Pro', monospace;
$font_bold: 700 1em 'Anonymous Pro', monospace;
$font_headings: 700 1.5em 'Poppins', sans-serif;

//Colours
$primary: #1C75BC;
$primary_light: #6CA7D8;
$secondary: #16A6B1;
$secondary_light: #7CCED5;
$neutral: #5B5B5B;
$neutral_light: #D1D1D1;

// Variables
$height_header: 14vh;
$height_footer: 15vh;
