@import 'variables.scss';

body.style-guide {
    header {
        display: none;
    }

    #main {
        > .container {
            padding-top: 0;
        }
    }
}

.style-guide-heading {
    margin-top: 0;
}

.typography {
    h1 {
        color: $red_dark_50;
        font-family: 'Alegreya', serif;
        font-size: 2.5em;
        text-align: left;
        text-transform: uppercase;
    }

    h2 {
        color: $red_dark_50;
        font-family: 'Alegreya', serif;
        font-size: 2em;
    }

    h3 {
        color: $red_dark_75;
        font-family: 'Alegreya', serif;
        font-size: 1.8em;
    }

    h4 {
        color: $red_dark_25;
        font-family: 'Alegreya', serif;
        font-size: 1.3em;
        margin-bottom: 0.5em;
    }

    h5 {
        color: $red_dark_25;
        font-family: 'Alegreya', serif;
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }

    blockquote {
        border: none;
            border-right: 4px solid $orange;
        color: $red_dark_75;
        padding: 10px 10px 10px 5px;
        text-align: right;
    }

    ul {
        margin: 0.3em 0;
        padding-left: 40px;

        li {
            list-style-type: disc;
        }
    }

    ol {
        margin: 0.3em 0;

        li {
            line-height: 2em;
        }
    }

    hr {
        border-color: $red_light_50;
    }

    figcaption {
        border: none;
            border-left: 3px solid $orange;
        color: $red_dark_90;
        padding: 5px 5px 5px 10px;
        text-align: left;
    }

    .section-title {
        width: 100%;
    }

    .logo-headings {
        display: flex;

        &.portrait {
            flex-direction: row;
        }
    }

    .section-container {
        display: flex;

        > * {
            flex: 1 1 200px;
        }
    }

    .lists {
        display: flex;
            flex-direction: row;
            flex-wrap: wrap;

        ul {
            margin-right: 10vw;
        }
    }

    .icons {
        display: flex;
            flex-wrap: wrap;

        svg {
            cursor: pointer;
            fill: $red_light_75;
            height: 40px;
            margin: 20px;
            stroke: $red_light_75;
            width: 40px;

            &:hover {
                fill: $red;
                stroke: $red;
            }
        }
    }

    .form {
        form {
            border: 1px solid $red_light_50;
            padding: 20px;
            width: 100%;
                max-width: 400px;

            h5 {
                margin: 0;
            }

            input {
                background: $red_light_10;
                border: 1px solid $red_light_75;
                color: $red_dark_25; 
                display: block;
                margin: 10px 0;
                padding: 5px 10px;
                width: 100%;

                &::placeholder {
                    color: $red_dark_25; 
                }
            }
        }

        button {
            background: none;
            border: 2px solid $red_dark_50;
            color: $red_dark_50;
            cursor: pointer;
            display: inline-block;
            font-weight: 700;
            margin: 10px 0;
            text-transform: uppercase;

            &:active, &:hover, &:focus {
                background: $red_dark_50;
                color: #fff;
            }
        }
    }
}