@import url('https://fonts.googleapis.com/css?family=Alegreya:500,700,800,900');

$red: #c1272d;
    $red_light_10: #f9e9ea;
    $red_light_25: #f0c9cb;
    $red_light_50: #e09396;
    $red_light_75: #d15d62;
    $red_light_90: #c73d42;
    
    $red_dark_10: #130405;
    $red_dark_25: #300a0b;
    $red_dark_50: #611417;
    $red_dark_75: #911d22;
    $red_dark_90: #ae2329;

$orange: #f79321;
    $orange_light_10: #fef4e9;
    $orange_light_25: #fde4c8;
    $orange_light_50: #fbc990;
    $orange_light_75: #f9ae59;
    $orange_light_90: #f89e37;

    $orange_dark_10: #190f03;
    $orange_dark_25: #3e2508;
    $orange_dark_50: #7c4a11;
    $orange_dark_75: #b96e19;
    $orange_dark_90: #de841e;

$black: #000000;
    $black_light_10: #e6e6e6;
    $black_light_25: #bfbfbf;
    $black_light_50: #808080;
    $black_light_75: #404040;
    $black_light_90: #191919;