.header {
	--logo-neutral: #{var.$white};
	--logo-secondary: #{var.$white};
	--logo-gradient: #{var.$white};
	display: flex;
	align-items: center;

	padding: 20px;

	background: var.$gradient;
	color: var.$white;
}
