.header {
	--logo-neutral: #{var.$white};
	--logo-secondary: #{var.$white};
	--logo-gradient_1: #{var.$white};
	--logo-gradient_2: #{var.$white};

	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	padding: 20px;

	color: var.$white;
}

.logo {
	width: 200px;

	svg {
		max-width: 100%;
	}
}

.banner {
	position: absolute;
	z-index: -1;
	top: -130px;
	left: -400px;
	width: 1000px;
}

@media(min-width: 40em) {
	.header {
		align-items: flex-start;
		align-items: start;
	}

	.logo {
		width: 150px;
		margin-right: 20px;
	}

	.banner {
		left: -500px;
	}
}

@media(min-width: 50em) {
	.header {
		padding: 50px;
	}

	.logo {
		width: 250px;
	}

	.banner {
		top: -80px;
		left: -380px;
	}
}

@media(min-width: 60em) {
	.header {
		width: 90vw;
		max-width: 1200px;
		margin: 0 auto;
		padding: 65px 0;
	}

	.logo {
		width: 300px;
	}

	.banner {
		top: -100px;
		left: -500px;
		width: 1200px;
	}
}

@media(min-width: 70em) {
	.logo {
		width: 400px;
	}

	.banner {
		top: -150px;
		left: -700px;
		width: 1700px;
	}
}

@media(min-width: 80em) {
	.banner {
		top: -200px;
		left: -800px;
		width: 2000px;
	}
}

@media(min-width: 90em) {
	.banner {
		top: -220px;
		left: -950px;
		width: 2200px;
	}
}
